.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 15px 40px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
.nav-links li a:hover {
  color: #f4c542;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}
